In [1]:
import pandas as pd

In [4]:
#resources\May 26th 2020 202004-niceride-tripdata.csv
nice_ride_data_one = "resources\May 26th 2020 202004-niceride-tripdata.csv"
nice_ride_data_two = "resources\June 4th 2020 202005-niceride-tripdata.csv"
nice_ride_data_three = "resources\July 5th 2020 202006-niceride-tripdata.csv"
nice_ride_data_four = "resources\Aug 11th 2020 202007-niceride-tripdata.csv"
nice_ride_data_five = "resources\Sep 4th 2020 202008-niceride-tripdata.csv"
nice_ride_data_six = "resources\Oc 13th 2020 202009-niceride-tripdata.csv"
nice_ride_data_seven = "resources\ov 4th 2020 202010-niceride-tripdata.csv"
nice_ride_data_eight = "resources\Dec 4th 2020 202011-niceride-tripdata.csv"

In [6]:
pwd

'c:\\ClassRepo\\Pints-and-Transit\\static\\data'

In [5]:
data_one = pd.read_csv(nice_ride_data_one, encoding="utf-8")
data_two = pd.read_csv(nice_ride_data_two, encoding="utf-8")
data_three = pd.read_csv(nice_ride_data_three, encoding="utf-8")
data_four = pd.read_csv(nice_ride_data_four, encoding="utf-8")
data_five = pd.read_csv(nice_ride_data_five, encoding="utf-8")
data_six = pd.read_csv(nice_ride_data_six, encoding="utf-8")
data_seven = pd.read_csv(nice_ride_data_seven, encoding="utf-8")
data_eight = pd.read_csv(nice_ride_data_eight, encoding="utf-8")

OSError: [Errno 22] Invalid argument: '\resources\\May 26th 2020 202004-niceride-tripdata.csv'

In [8]:
#Clean data - get rid of incomplete entries (most incompletes are missing endpoint)
data_one.count()
data_one_df = data_one.dropna(how='any')
data_one_df.count()

ride_id               13279
rideable_type         13279
started_at            13279
ended_at              13279
start_station_name    13279
start_station_id      13279
end_station_name      13279
end_station_id        13279
start_lat             13279
start_lng             13279
end_lat               13279
end_lng               13279
member_casual         13279
dtype: int64

In [9]:
data_two.count()
data_two_df = data_two.dropna(how='any')
data_two_df.count()

ride_id               25521
rideable_type         25521
started_at            25521
ended_at              25521
start_station_name    25521
start_station_id      25521
end_station_name      25521
end_station_id        25521
start_lat             25521
start_lng             25521
end_lat               25521
end_lng               25521
member_casual         25521
dtype: int64

In [10]:
data_three.count()
data_three_df = data_two.dropna(how='any')
data_three_df.count()

ride_id               25521
rideable_type         25521
started_at            25521
ended_at              25521
start_station_name    25521
start_station_id      25521
end_station_name      25521
end_station_id        25521
start_lat             25521
start_lng             25521
end_lat               25521
end_lng               25521
member_casual         25521
dtype: int64

In [11]:
data_four.count()
data_four_df=data_four.dropna(how='any')
data_four_df.count()

ride_id               33703
rideable_type         33703
started_at            33703
ended_at              33703
start_station_name    33703
start_station_id      33703
end_station_name      33703
end_station_id        33703
start_lat             33703
start_lng             33703
end_lat               33703
end_lng               33703
member_casual         33703
dtype: int64

In [12]:
data_five.count()
data_five_df=data_five.dropna(how='any')
data_five_df.count()

ride_id               28578
rideable_type         28578
started_at            28578
ended_at              28578
start_station_name    28578
start_station_id      28578
end_station_name      28578
end_station_id        28578
start_lat             28578
start_lng             28578
end_lat               28578
end_lng               28578
member_casual         28578
dtype: int64

In [13]:
data_six.count()
data_six_df=data_six.dropna(how='any')
data_six_df.count()

ride_id               19047
rideable_type         19047
started_at            19047
ended_at              19047
start_station_name    19047
start_station_id      19047
end_station_name      19047
end_station_id        19047
start_lat             19047
start_lng             19047
end_lat               19047
end_lng               19047
member_casual         19047
dtype: int64

In [14]:
data_seven.count()
data_seven_df=data_seven.dropna(how='any')
data_seven_df.count()

ride_id               10229
rideable_type         10229
started_at            10229
ended_at              10229
start_station_name    10229
start_station_id      10229
end_station_name      10229
end_station_id        10229
start_lat             10229
start_lng             10229
end_lat               10229
end_lng               10229
member_casual         10229
dtype: int64

In [15]:
data_eight.count()
data_eight_df=data_eight.dropna(how='any')
data_eight_df.count()

ride_id               1100
rideable_type         1100
started_at            1100
ended_at              1100
start_station_name    1100
start_station_id      1100
end_station_name      1100
end_station_id        1100
start_lat             1100
start_lng             1100
end_lat               1100
end_lng               1100
member_casual         1100
dtype: int64

In [16]:
data_eight_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,15D6114DEE7104D3,classic_bike,2020-11-04 16:38:49,2020-11-04 17:35:55,Coldwater Spring,155.0,Coldwater Spring,155.0,44.905043,-93.198283,44.905043,-93.198283,casual
9,23BEE93F624D88AE,electric_bike,2020-11-02 16:11:07,2020-11-02 16:18:58,MCAD,20.0,Dupont Ave S & W 29th Street,162.0,44.957132,-93.274944,44.949884,-93.293125,casual
10,C96CC9CC6FE240A1,classic_bike,2020-11-01 12:57:15,2020-11-01 14:05:37,Boom Island Park,153.0,Boom Island Park,153.0,44.992540,-93.270256,44.992540,-93.270256,casual
16,903EA724EB83C3C2,electric_bike,2020-11-04 18:20:29,2020-11-04 18:42:40,6th Ave SE & University Ave,89.0,2nd Ave N & Washington Ave N,23.0,44.983427,-93.248138,44.983883,-93.271176,casual
17,758A084AAB974399,classic_bike,2020-11-03 15:06:04,2020-11-03 18:15:15,Coffman Union,26.0,Washington Ave SE & Union Street SE,116.0,44.973378,-93.234762,44.973940,-93.232100,casual

In [17]:
combined_df = pd.concat([data_one_df,data_two_df, data_three_df, data_four_df, data_five_df, data_six_df, data_seven_df, data_eight_df], ignore_index=True, sort=False)

In [18]:
combined_df.count()

ride_id               156978
rideable_type         156978
started_at            156978
ended_at              156978
start_station_name    156978
start_station_id      156978
end_station_name      156978
end_station_id        156978
start_lat             156978
start_lng             156978
end_lat               156978
end_lng               156978
member_casual         156978
dtype: int64

In [19]:
ride_count = combined_df["ride_id"].unique()
len(ride_count)

131457

In [20]:
duplicate_ride_id = combined_df[combined_df.duplicated(['ride_id'])]
duplicate_ride_id.count()

ride_id               25521
rideable_type         25521
started_at            25521
ended_at              25521
start_station_name    25521
start_station_id      25521
end_station_name      25521
end_station_id        25521
start_lat             25521
start_lng             25521
end_lat               25521
end_lng               25521
member_casual         25521
dtype: int64

In [21]:
final_df = combined_df.drop_duplicates(['ride_id'],keep='last')
final_df.count()

ride_id               131457
rideable_type         131457
started_at            131457
ended_at              131457
start_station_name    131457
start_station_id      131457
end_station_name      131457
end_station_id        131457
start_lat             131457
start_lng             131457
end_lat               131457
end_lng               131457
member_casual         131457
dtype: int64

In [22]:
ride_count2 = final_df['ride_id'].unique()
len(ride_count2)

131457

In [23]:
# final_df.to_csv("Resources/all_data_2020.csv", index=False, header=True)