In [ ]:
import pandas as pd

In [10]:
nice_ride_data_one = "resources\May 26th 2020 202004-niceride-tripdata.csv"
nice_ride_data_two = "resources\June 4th 2020 202005-niceride-tripdata.csv"
nice_ride_data_three = "resources\July 5th 2020 202006-niceride-tripdata.csv"
nice_ride_data_four = "resources\Aug 11th 2020 202007-niceride-tripdata.csv"
nice_ride_data_five = "resources\Sep 4th 2020 202008-niceride-tripdata.csv"
nice_ride_data_six = "resources\Oc 13th 2020 202009-niceride-tripdata.csv"
nice_ride_data_seven = "resources\ov 4th 2020 202010-niceride-tripdata.csv"
nice_ride_data_eight = "resources\Dec 4th 2020 202011-niceride-tripdata.csv"

In [11]:
data_one = pd.read_csv(nice_ride_data_one, encoding="utf-8")
data_two = pd.read_csv(nice_ride_data_two, encoding="utf-8")
data_three = pd.read_csv(nice_ride_data_three, encoding="utf-8")
data_four = pd.read_csv(nice_ride_data_four, encoding="utf-8")
data_five = pd.read_csv(nice_ride_data_five, encoding="utf-8")
data_six = pd.read_csv(nice_ride_data_six, encoding="utf-8")
data_seven = pd.read_csv(nice_ride_data_seven, encoding="utf-8")
data_eight = pd.read_csv(nice_ride_data_eight, encoding="utf-8")

In [40]:
#Clean data - get rid of incomplete entries (most incompletes are missing endpoint)
data_one.count()
data_one_df = data_one.dropna(how='any')
data_one_df.count()

ride_id               13279
rideable_type         13279
started_at            13279
ended_at              13279
start_station_name    13279
start_station_id      13279
end_station_name      13279
end_station_id        13279
start_lat             13279
start_lng             13279
end_lat               13279
end_lng               13279
member_casual         13279
dtype: int64

In [41]:
data_two.count()
data_two_df = data_two.dropna(how='any')
data_two_df.count()

ride_id               25521
rideable_type         25521
started_at            25521
ended_at              25521
start_station_name    25521
start_station_id      25521
end_station_name      25521
end_station_id        25521
start_lat             25521
start_lng             25521
end_lat               25521
end_lng               25521
member_casual         25521
dtype: int64

In [46]:
data_three.count()
data_three_df = data_two.dropna(how='any')
data_three_df.count()

ride_id               25521
rideable_type         25521
started_at            25521
ended_at              25521
start_station_name    25521
start_station_id      25521
end_station_name      25521
end_station_id        25521
start_lat             25521
start_lng             25521
end_lat               25521
end_lng               25521
member_casual         25521
dtype: int64

In [49]:
data_four.count()
data_four_df=data_four.dropna(how='any')
data_four_df.count()

ride_id               33703
rideable_type         33703
started_at            33703
ended_at              33703
start_station_name    33703
start_station_id      33703
end_station_name      33703
end_station_id        33703
start_lat             33703
start_lng             33703
end_lat               33703
end_lng               33703
member_casual         33703
dtype: int64

In [51]:
data_five.count()
data_five_df=data_five.dropna(how='any')
data_five_df.count()

ride_id               28578
rideable_type         28578
started_at            28578
ended_at              28578
start_station_name    28578
start_station_id      28578
end_station_name      28578
end_station_id        28578
start_lat             28578
start_lng             28578
end_lat               28578
end_lng               28578
member_casual         28578
dtype: int64

In [53]:
data_six.count()
data_six_df=data_six.dropna(how='any')
data_six_df.count()

ride_id               19047
rideable_type         19047
started_at            19047
ended_at              19047
start_station_name    19047
start_station_id      19047
end_station_name      19047
end_station_id        19047
start_lat             19047
start_lng             19047
end_lat               19047
end_lng               19047
member_casual         19047
dtype: int64

In [58]:
data_seven.count()
data_seven_df=data_seven.dropna(how='any')
data_seven_df.count()

ride_id               10229
rideable_type         10229
started_at            10229
ended_at              10229
start_station_name    10229
start_station_id      10229
end_station_name      10229
end_station_id        10229
start_lat             10229
start_lng             10229
end_lat               10229
end_lng               10229
member_casual         10229
dtype: int64

In [60]:
data_eight.count()
data_eight_df=data_eight.dropna(how='any')
data_eight_df.count()

ride_id               1100
rideable_type         1100
started_at            1100
ended_at              1100
start_station_name    1100
start_station_id      1100
end_station_name      1100
end_station_id        1100
start_lat             1100
start_lng             1100
end_lat               1100
end_lng               1100
member_casual         1100
dtype: int64

In [69]:
data_seven_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
2,A131F83CFA5C4044,electric_bike,2020-10-04 20:23:31,2020-10-04 20:41:59,Jordan Park,822.0,Nicollet Mall & Grant Street,175.0,45.010184,-93.300522,44.970083,-93.278274,casual
22,C452DB47DB61CE64,classic_bike,2020-10-29 20:14:42,2020-10-29 20:22:03,Willey Hall,207.0,McNamara Center,59.0,44.972404,-93.242891,44.974300,-93.228540,casual
35,950F583CFBBB8ECE,electric_bike,2020-10-13 18:55:00,2020-10-13 19:12:49,SE 7th Street & 10th Ave SE,202.0,Portland Ave & Washington Ave,91.0,44.985596,-93.238698,44.978178,-93.260268,casual
49,CD1E4687B85975D7,electric_bike,2020-10-29 22:46:26,2020-10-29 22:54:59,4th Street & 17th Ave SE,34.0,University & Bank Street SE,49.0,44.979121,-93.231828,44.987201,-93.255822,casual
51,306E480ED4CFADE6,electric_bike,2020-10-21 14:34:15,2020-10-21 14:42:41,15th Ave SE & SE 4th Street,209.0,University & Bank Street SE,49.0,44.979904,-93.234762,44.987139,-93.255825,casual